{"openapi":"3.1.0","info":{"title":"POCHY API 명세서","description":"POCHY Swagger UI","version":"1.0.0"},"servers":[{"url":"http://api.pochy.shop","description":"Generated server url"}],"security":[{"JWT":[]}],"tags":[{"name":"Feed","description":"피드 API"},{"name":"Home","description":"홈 화면 API"},{"name":"Pouch","description":"파우치 API"},{"name":"OAuth","description":"소셜 로그인 API"},{"name":"Wappen","description":"와펜 API"},{"name":"MyCosmetics","description":"마이 화장품 API"},{"name":"Login","description":"로그인 관련 API"},{"name":"WishCosmetics","description":"위시 리스트 화장품 API"},{"name":"Member","description":"회원 API"},{"name":"PouchName","description":"파우치 이름 API"}],"paths":{"/api/wish-cosmetics":{"get":{"tags":["WishCosmetics"],"summary":"위시 화장품 목록 조회","description":"검색, 카테고리, 가격 필터링을 통해 위시 화장품 목록을 조회합니다. 아무 조건이 없으면 전체 목록이 조회됩니다.","operationId":"readWishCosmeticsList","parameters":[{"name":"keyword","in":"query","description":"검색 키워드","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"대분류","required":false,"schema":{"type":"string"}},{"name":"subCategory","in":"query","description":"소분류","required":false,"schema":{"type":"string"}},{"name":"minPrice","in":"query","description":"최소 가격","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxPrice","in":"query","description":"최대 가격","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"lastId","in":"query","description":"이전에 조회한 목록의 마지막 wishCosmeticsId(무한 스크롤 cursor 방식)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","description":"조회할 화장품 개수(기본값 10","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"정렬(desc/asc 중 입력, 기본값은 desc)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOSliceReadListDto"}}}}}},"post":{"tags":["WishCosmetics"],"summary":"위시 화장품 스캔 등록","description":"스캔한 여러 개의 위시 화장품과 캡처 이미지를 저장합니다.","operationId":"createWishCosmetics","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"captureImages":{"type":"array","items":{"type":"string","format":"binary"}},"request":{"type":"array","items":{"$ref":"#/components/schemas/CreateDetailDto"}}},"required":["captureImages","request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOListCreateDetailDto"}}}}}},"delete":{"tags":["WishCosmetics"],"summary":"위시 화장품 삭제","description":"위시 화장품을 다중 삭제합니다.","operationId":"deleteWishCosmetics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/wish-cosmetics/v2":{"post":{"tags":["WishCosmetics"],"summary":"위시 화장품 스캔 등록 - 수정한 버전","description":"스캔한 여러 개의 위시 화장품과 캡처 이미지를 저장합니다. 이미지 하나에 여러 화장품 스캔 등록과 상품 사진 직접 등록이 가능한 버전입니다.","operationId":"createWishCosmeticsV2","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"captureImages":{"type":"array","description":"캡처 이미지 파일 리스트","items":{"type":"string","format":"binary"}},"directImages":{"type":"array","description":"네이버 대신 직접 첨부한 상품 이미지 파일 리스트","items":{"type":"string","format":"binary"}},"request":{"type":"array","description":"type은 NAVER/DIRECT, NAVER일 경우 naverImageUrl, DIRECT일 경우 directImageIndex 필요","items":{"$ref":"#/components/schemas/CreateDetailDtoV2"}}},"required":["captureImages","request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOListCreateDetailDto"}}}}}}},"/api/wish-cosmetics/direct":{"post":{"tags":["WishCosmetics"],"summary":"위시 화장품 직접 등록","description":"위시 화장품을 직접 등록합니다.","operationId":"createWishCosmeticsDirect","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"productDirectImage":{"type":"string","format":"binary","description":"사용자가 직접 등록한 이미지 파일이 존재한다면 여기에 담아주세요"},"request":{"$ref":"#/components/schemas/CreateDetailDirectDto"}},"required":["request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOCreateDetailDto"}}}}}}},"/api/pouches":{"get":{"tags":["Pouch"],"summary":"파우치 목록 조회","description":"파우치 목록을 조회합니다. page, size 지정 안하면 page=0, size=20이 기본값입니다.","operationId":"getPouchList","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOPouchListDto"}}}}}},"post":{"tags":["Pouch"],"summary":"파우치 생성","description":"파우치와 파우치에 넣을 내 화장품과 와펜을 조합해 생성합니다.","operationId":"createPouch","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"pouchImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/CombinedAddDto"}},"required":["pouchImage","request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/my-cosmetics":{"get":{"tags":["MyCosmetics"],"operationId":"searchMyCosmetics","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"subCategory","in":"query","required":false,"schema":{"type":"string"}},{"name":"lastId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOSliceMyCosmeticsResponseDTO"}}}}}},"post":{"tags":["MyCosmetics"],"operationId":"register","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"captureImages":{"type":"array","items":{"type":"string","format":"binary"}},"directImages":{"type":"array","items":{"type":"string","format":"binary"}},"request":{"$ref":"#/components/schemas/MyCosmeticsListRequestDtoV2"}},"required":["captureImages","request"]}}}},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOListLong"}},"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOListLong"}}}}}},"delete":{"tags":["MyCosmetics"],"operationId":"deleteMyCosmetics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/my-cosmetics/direct":{"post":{"tags":["MyCosmetics"],"operationId":"registerDirect","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"directImage":{"type":"string","format":"binary"},"captureImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/CreateDetailDtoV2"}},"required":["directImage","request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOLong"}}}}}}},"/api/feed/favorites/pouches/{pouchId}":{"post":{"tags":["Feed"],"summary":"피드 즐겨찾기 추가","description":"피드의 파우치에 즐겨찾기를 적용합니다.","operationId":"addFavorite","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}},"delete":{"tags":["Feed"],"summary":"피드 즐겨찾기 해제","description":"피드의 파우치에 즐겨찾기를 해제합니다.","operationId":"removeFavorite","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/feed/emoticons/pouches/{pouchId}":{"post":{"tags":["Feed"],"summary":"피드 이모티콘 반응 누르기","description":"피드의 파우치에 이모티콘 반응을 추가합니다.","operationId":"addEmoticon","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/auth/reissue":{"post":{"tags":["Login"],"operationId":"reissue","parameters":[{"name":"REFRESH_TOKEN","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOTokenDto"}}}}}}},"/api/auth/magic-link":{"post":{"tags":["Login"],"operationId":"requestMagicLink","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"member","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Member"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTO"}}}}}}},"/api/auth/logout":{"post":{"tags":["Login"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTO"}}}}}}},"/api/wish-cosmetics/{wishCosmeticsId}":{"get":{"tags":["WishCosmetics"],"summary":"위시 화장품 상세 조회","description":"특정 위시 화장품의 상세 정보를 조회합니다.","operationId":"readWishCosmeticsDetail","parameters":[{"name":"wishCosmeticsId","in":"path","description":"위시 화장품 id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOReadDetailDto"}}}}}},"patch":{"tags":["WishCosmetics"],"summary":"위시 화장품 수정","description":"특정 위시 화장품의 상세 정보를 수정합니다.","operationId":"updateWishCosmetics","parameters":[{"name":"wishCosmeticsId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"productDirectImage":{"type":"string","format":"binary"},"captureImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/UpdateDto"}},"required":["request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOUpdateDto"}}}}}}},"/api/pouches/{pouchId}":{"get":{"tags":["Pouch"],"summary":"파우치 상세 조회","description":"파우치를 상세 조회합니다.","operationId":"getPouchDetail","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOPouchDetailDto"}}}}}},"patch":{"tags":["Pouch"],"summary":"파우치 수정","description":"파우치의 이름, 화장품, 와펜, 이미지 등을 수정합니다.","operationId":"updatePouch","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"pouchImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/PouchUpdateDto"}},"required":["request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOPouchUpdateDto"}}}}}}},"/api/pouches/{pouchId}/image":{"patch":{"tags":["Pouch"],"operationId":"uploadPouchCompositeImage","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"pouchImage":{"type":"string","format":"binary"}},"required":["pouchImage"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/my-cosmetics/{cosmeticId}":{"get":{"tags":["MyCosmetics"],"operationId":"getCosmeticDetail","parameters":[{"name":"cosmeticId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTO"}}}}}},"patch":{"tags":["MyCosmetics"],"operationId":"updateMyCosmetic","parameters":[{"name":"cosmeticId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"directImage":{"type":"string","format":"binary"},"captureImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/UpdateDto"}},"required":["request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOLong"}}}}}}},"/api/member":{"get":{"tags":["Member"],"summary":"마이 프로필 조회","description":"마이 프로필 정보를 조회합니다.","operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOProfileDto"}}}}}},"patch":{"tags":["Member"],"summary":"마이 프로필 수정","description":"마이 프로필에서 프로필 사진, 닉네임, 이메일을 수정할 수 있습니다.","operationId":"updateMyProfile","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"profileImage":{"type":"string","format":"binary"},"request":{"$ref":"#/components/schemas/UpdateProfileDto"}},"required":["request"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/member/withdraw":{"patch":{"tags":["Member"],"summary":"회원 탈퇴","description":"회원 탈퇴를 진행합니다. isActive를 false로 변경합니다","operationId":"withdraw","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/member/nickname":{"patch":{"tags":["Member"],"summary":"닉네임 수정","description":"닉네임을 수정합니다.","operationId":"updateNickname","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NicknameRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/test":{"get":{"tags":["test-controller"],"operationId":"test","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOObject"}}}}}}},"/health":{"get":{"tags":["test-controller"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/wappens":{"get":{"tags":["Wappen"],"summary":"와펜 목록 조회","description":"와펜 목록을 조회합니다.\n\npage는 0부터 지정(기본값 0), 응답으로 hasNext가 true라면 다음 페이지 목록 존재(page + 1)\n\nsize 지정 안하면 기본값 20\n\nsort 지정 안하면 id 기준으로 오름차순","operationId":"getWappenList","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOWappenListDto"}}}}}}},"/api/pouches/{pouchId}/share":{"get":{"tags":["Pouch"],"summary":"공유한 파우치 조회","description":"공유한 파우치를 조회합니다. 파우치 상세 조회 데이터와 동일하나 로그인 없이 조회 가능합니다.","operationId":"getSharePouchDetail","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOPouchDetailDto"}}}}}}},"/api/pouch-names/random":{"get":{"tags":["PouchName"],"operationId":"getRandomNames","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PouchNameListDto"}}}}}}},"/api/member/nickname-auto":{"get":{"tags":["Member"],"summary":"닉네임 랜덤 생성","description":"닉네임을 랜덤으로 생성합니다.","operationId":"autoNickname","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOString"}}}}}}},"/api/login/oauth2/naver":{"get":{"tags":["OAuth"],"summary":"네이버 로그인 등록 API","description":"첫 로그인 시에는 회원을 등록하며, 액세스 토큰을 반환합니다. 이 API 호출하기 전에 네이버 state 발급 API를 먼저 호출해야 합니다.","operationId":"naverLogin","parameters":[{"name":"code","in":"query","description":"네이버 로그인 시 발급받은 code","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"state 발급 API로 받은 state","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOTokenDto"}}}}}}},"/api/login/oauth2/naver/url":{"get":{"tags":["OAuth"],"summary":"state 발급 API","description":"state와 네이버 로그인 URL을 발급 받는 API입니다. 응답으로 오는 URL로 네이버 로그인을 할 수 있습니다. 로그인 후, 네이버 측에서 받은 code로 네이버 로그인 등록 API를 호출해주세요.","operationId":"getState","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTONaverLoginUrl"}}}}}}},"/api/login/oauth2/kakao":{"get":{"tags":["OAuth"],"summary":"카카오 로그인 API","description":"카카오 인가 코드를 받아 로그인을 진행합니다.","operationId":"kakaoLogin","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOMemberAuthResponse"}}}}}}},"/api/home":{"get":{"tags":["Home"],"summary":"홈 화면 조회","description":"사용자의 프로필 이미지, 닉네임, 위시 리스트, 마이 리스트, 피드를 조회합니다.","operationId":"getHomeData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOGetHomeData"}}}}}}},"/api/feed":{"get":{"tags":["Feed"],"summary":"피드 목록 조회(추천순, 최신순 정렬, 검색)","description":"첫 요청에서는 lastId, lastScore가 null이고, 다음 요청에서는 첫 요청의 응답으로 받은 lastId, lastScore를 입력\nsort는 enum값으로 RECOMMEND(추천순)와 LATEST(최신순) 중 입력","operationId":"getFeedList","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"lastId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"lastScore","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["RECOMMENDED","LATEST"]}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOFeedListDto"}}}}}}},"/api/feed/pouches/{pouchId}":{"get":{"tags":["Feed"],"summary":"피드 상세 조회","description":"피드의 상세 데이터를 조회합니다.","operationId":"getFeedDetail","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOFeedDetailDto"}}}}}}},"/api/feed/pouches/{pouchId}/cosmetics":{"get":{"tags":["Feed"],"summary":"피드 상세 - 화장품 목록 조회","description":"피드의 파우치에 포함된 화장품 목록을 조회합니다.","operationId":"getFeedCosmetics","parameters":[{"name":"pouchId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOListFindFeedCosmeticsDto"}}}}}}},"/api/feed/favorites":{"get":{"tags":["Feed"],"summary":"피드 즐겨찾기 목록 조회","description":"첫 요청에서는 lastId가 null이고, 다음 요청에서는 첫 요청의 응답으로 받은 lastId를 입력. size는 지정하지 않을 경우 10개씩 조회됨","operationId":"getFavoriteList","parameters":[{"name":"lastId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOFavoriteListDto"}}}}}}},"/api/auth/verify-magic-link":{"get":{"tags":["Login"],"operationId":"verifyMagicLink","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDTOMemberAuthResponse"}}}}}}}},"components":{"schemas":{"CreateDetailDto":{"type":"object","properties":{"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"price":{"type":"integer","format":"int32"},"feature":{"type":"string"},"memo":{"type":"string"},"productImageUrl":{"type":"string"}}},"ApiResponseDTOListCreateDetailDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/CreateDetailDto"}},"success":{"type":"boolean"}}},"CreateDetailDtoV2":{"type":"object","properties":{"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"price":{"type":"integer","format":"int32"},"feature":{"type":"string"},"memo":{"type":"string"},"captureImageIndex":{"type":"integer","format":"int32"},"productImage":{"$ref":"#/components/schemas/ProductImage"}},"required":["captureImageIndex","productImage"]},"ProductImage":{"type":"object","properties":{"type":{"type":"string","enum":["NAVER","DIRECT"]},"naverImageUrl":{"type":"string"},"directImageIndex":{"type":"integer","format":"int32"}},"required":["type"]},"CreateDetailDirectDto":{"type":"object","description":"네이버 이미지 url은 여기에 담아주세요","properties":{"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"price":{"type":"integer","format":"int32"},"feature":{"type":"string"},"memo":{"type":"string"},"naverImageUrl":{"type":"string"}}},"ApiResponseDTOCreateDetailDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/CreateDetailDto"},"success":{"type":"boolean"}}},"AddCosmeticDetailDto":{"type":"object","properties":{"myCosmeticId":{"type":"integer","format":"int64"},"memo":{"type":"string"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"},"zindex":{"type":"integer","format":"int32"},"ypoint":{"type":"number","format":"double"},"xpoint":{"type":"number","format":"double"}}},"AddCosmeticListDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/AddCosmeticDetailDto"}}}},"AddWappenListDto":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/WappenItemDto"}}}},"CombinedAddDto":{"type":"object","properties":{"pouchName":{"type":"string"},"cosmeticList":{"$ref":"#/components/schemas/AddCosmeticListDto"},"wappenList":{"$ref":"#/components/schemas/AddWappenListDto"}}},"WappenItemDto":{"type":"object","properties":{"wappenId":{"type":"integer","format":"int64"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"},"zindex":{"type":"integer","format":"int32"},"ypoint":{"type":"number","format":"double"},"xpoint":{"type":"number","format":"double"}}},"ApiResponseDTOString":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"string"},"success":{"type":"boolean"}}},"MyCosmeticsListRequestDtoV2":{"type":"object","properties":{"cosmetics":{"type":"array","items":{"$ref":"#/components/schemas/CreateDetailDtoV2"}}}},"ApiResponseDTOListLong":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"type":"integer","format":"int64"}},"success":{"type":"boolean"}}},"ApiResponseDTOLong":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"integer","format":"int64"},"success":{"type":"boolean"}}},"ApiResponseDTOTokenDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/TokenDto"},"success":{"type":"boolean"}}},"TokenDto":{"type":"object","properties":{"accessToken":{"type":"string"}}},"Member":{"type":"object","properties":{"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"member_id":{"type":"integer","format":"int64"},"socialId":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"role":{"type":"string","enum":["ADMIN","USER","GUEST"]},"profileImgUrl":{"type":"string"},"pushNotice":{"type":"boolean"},"joinType":{"type":"string","enum":["GENERAL","KAKAO","NAVER"]},"active":{"type":"boolean"}}},"ApiResponseDTO":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{},"success":{"type":"boolean"}}},"UpdateDto":{"type":"object","properties":{"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"price":{"type":"integer","format":"int32"},"feature":{"type":"string"},"memo":{"type":"string"},"naverImageUrl":{"type":"string"}}},"ApiResponseDTOUpdateDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/UpdateDto"},"success":{"type":"boolean"}}},"CosmeticsDto":{"type":"object","properties":{"cosmeticId":{"type":"integer","format":"int64"},"memo":{"type":"string"},"xpoint":{"type":"number","format":"double"},"ypoint":{"type":"number","format":"double"},"zindex":{"type":"integer","format":"int32"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"}}},"PouchUpdateDto":{"type":"object","properties":{"theme":{"type":"string"},"cosmeticList":{"type":"array","items":{"$ref":"#/components/schemas/CosmeticsDto"}},"wappenList":{"type":"array","items":{"$ref":"#/components/schemas/WappenDto"}}}},"WappenDto":{"type":"object","properties":{"wappenId":{"type":"integer","format":"int64"},"xpoint":{"type":"number","format":"double"},"ypoint":{"type":"number","format":"double"},"zindex":{"type":"integer","format":"int32"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"}}},"ApiResponseDTOPouchUpdateDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PouchUpdateDto"},"success":{"type":"boolean"}}},"UpdateProfileDto":{"type":"object","properties":{"nickname":{"type":"string","minLength":1},"email":{"type":"string","minLength":1}},"required":["email","nickname"]},"NicknameRequest":{"type":"object","properties":{"nickname":{"type":"string","maxLength":10,"minLength":2}},"required":["nickname"]},"ApiResponseDTOObject":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{},"success":{"type":"boolean"}}},"ApiResponseDTOSliceReadListDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/SliceReadListDto"},"success":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"ReadListDto":{"type":"object","properties":{"wishCosmeticsId":{"type":"integer","format":"int64"},"brand":{"type":"string"},"productName":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"productImageUrl":{"type":"string"},"captureImageUrl":{"type":"string"},"price":{"type":"integer","format":"int32"}}},"SliceReadListDto":{"type":"object","properties":{"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ReadListDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponseDTOReadDetailDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ReadDetailDto"},"success":{"type":"boolean"}}},"ReadDetailDto":{"type":"object","properties":{"wishCosmeticsId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"feature":{"type":"string"},"memo":{"type":"string"},"price":{"type":"integer","format":"int32"},"productImageUrl":{"type":"string"},"captureImageUrl":{"type":"string"}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponseDTOWappenListDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/WappenListDto"},"success":{"type":"boolean"}}},"WappenListDto":{"type":"object","properties":{"hasNext":{"type":"boolean"},"wappens":{"type":"array","items":{"$ref":"#/components/schemas/WappenUrlDto"}}}},"WappenUrlDto":{"type":"object","properties":{"wappenId":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"}}},"ApiResponseDTOPouchListDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PouchListDto"},"success":{"type":"boolean"}}},"PouchDto":{"type":"object","properties":{"pouchId":{"type":"integer","format":"int64"},"name":{"type":"string"},"imageUrl":{"type":"string"}}},"PouchListDto":{"type":"object","properties":{"totalCount":{"type":"integer","format":"int64"},"pouchList":{"type":"array","items":{"$ref":"#/components/schemas/PouchDto"}}}},"ApiResponseDTOPouchDetailDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PouchDetailDto"},"success":{"type":"boolean"}}},"PouchDetailDto":{"type":"object","properties":{"pouchId":{"type":"integer","format":"int64"},"name":{"type":"string"},"cosmetics":{"type":"array","items":{"$ref":"#/components/schemas/PouchItemDetailDto"}},"wappens":{"type":"array","items":{"$ref":"#/components/schemas/PouchWappenDetailDto"}}}},"PouchItemDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"feature":{"type":"string"},"memo":{"type":"string"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"},"myCosmeticId":{"type":"integer","format":"int64"},"zindex":{"type":"integer","format":"int32"},"ypoint":{"type":"number","format":"double"},"xpoint":{"type":"number","format":"double"}}},"PouchWappenDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"wappenId":{"type":"integer","format":"int64"},"size":{"type":"number","format":"double"},"rotationAngle":{"type":"number","format":"double"},"zindex":{"type":"integer","format":"int32"},"ypoint":{"type":"number","format":"double"},"xpoint":{"type":"number","format":"double"}}},"PouchNameListDto":{"type":"object","properties":{"names":{"type":"array","items":{"$ref":"#/components/schemas/PouchNameResponseDto"}}}},"PouchNameResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ApiResponseDTOSliceMyCosmeticsResponseDTO":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/SliceMyCosmeticsResponseDTO"},"success":{"type":"boolean"}}},"MyCosmeticsResponseDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"brand":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"feature":{"type":"string"},"memo":{"type":"string"},"imgUrl":{"type":"string"},"captureUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"SliceMyCosmeticsResponseDTO":{"type":"object","properties":{"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MyCosmeticsResponseDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseDTOProfileDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ProfileDto"},"success":{"type":"boolean"}}},"ProfileDto":{"type":"object","properties":{"profileImageUrl":{"type":"string"},"nickname":{"type":"string"},"email":{"type":"string"}}},"ApiResponseDTONaverLoginUrl":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/NaverLoginUrl"},"success":{"type":"boolean"}}},"NaverLoginUrl":{"type":"object","properties":{"url":{"type":"string"}}},"ApiResponseDTOMemberAuthResponse":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/MemberAuthResponse"},"success":{"type":"boolean"}}},"MemberAuthResponse":{"type":"object","properties":{"email":{"type":"string"},"nickname":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"newMember":{"type":"boolean"}}},"ApiResponseDTOGetHomeData":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/GetHomeData"},"success":{"type":"boolean"}}},"Detail":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"}}},"GetHomeData":{"type":"object","properties":{"profileUrl":{"type":"string"},"nickname":{"type":"string"},"wishList":{"type":"array","items":{"$ref":"#/components/schemas/Detail"}},"myList":{"type":"array","items":{"$ref":"#/components/schemas/Detail"}},"feed":{"type":"array","items":{"$ref":"#/components/schemas/Detail"}}}},"ApiResponseDTOFeedListDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/FeedListDto"},"success":{"type":"boolean"}}},"FeedDto":{"type":"object","properties":{"pouchId":{"type":"integer","format":"int64"},"pouchScore":{"type":"number","format":"double"},"userName":{"type":"string"},"profileImageUrl":{"type":"string"},"pouchName":{"type":"string"},"pouchImageUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"emoticonTypeList":{"type":"array","items":{"type":"string"}},"favorite":{"type":"boolean"}}},"FeedListDto":{"type":"object","properties":{"feedDtoList":{"type":"array","items":{"$ref":"#/components/schemas/FeedDto"}},"lastId":{"type":"integer","format":"int64"},"lastScore":{"type":"number","format":"double"},"hasNext":{"type":"boolean"}}},"ApiResponseDTOFeedDetailDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/FeedDetailDto"},"success":{"type":"boolean"}}},"FeedDetailDto":{"type":"object","properties":{"pouchId":{"type":"integer","format":"int64"},"profileImageUrl":{"type":"string"},"userName":{"type":"string"},"pouchName":{"type":"string"},"emoticonTypeList":{"type":"array","items":{"type":"string"}},"myCosmeticsList":{"type":"array","items":{"$ref":"#/components/schemas/FindMyCosmeticsDto"}},"favorite":{"type":"boolean"}}},"FindMyCosmeticsDto":{"type":"object","properties":{"productImageUrl":{"type":"string"},"content":{"type":"string"},"zindex":{"type":"integer","format":"int32"},"ypoint":{"type":"number","format":"double"},"xpoint":{"type":"number","format":"double"}}},"ApiResponseDTOListFindFeedCosmeticsDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/FindFeedCosmeticsDto"}},"success":{"type":"boolean"}}},"FindFeedCosmeticsDto":{"type":"object","properties":{"cosmeticId":{"type":"integer","format":"int64"},"productImageUrl":{"type":"string"},"name":{"type":"string"},"brand":{"type":"string"},"memo":{"type":"string"},"category":{"type":"string"},"subCategory":{"type":"string"},"url":{"type":"string","writeOnly":true}}},"ApiResponseDTOFavoriteListDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/FavoriteListDto"},"success":{"type":"boolean"}}},"FavoriteDto":{"type":"object","properties":{"pouchId":{"type":"integer","format":"int64"},"userName":{"type":"string"},"pouchName":{"type":"string"},"pouchImageUrl":{"type":"string"},"emoticonTypeList":{"type":"array","items":{"type":"string"}}}},"FavoriteListDto":{"type":"object","properties":{"favoriteDtoList":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteDto"}},"lastId":{"type":"integer","format":"int64"},"hasNext":{"type":"boolean"}}},"DeleteDto":{"type":"object","properties":{"wishCosmeticsIds":{"type":"array","items":{"type":"integer","format":"int64"},"minItems":1}},"required":["wishCosmeticsIds"]}},"securitySchemes":{"JWT":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}