/* Basic reset
*,
*::before,
*::after {
  box-sizing: border-box;
} */

/* 이 부분 margin, padding 0 때문에 p값 m값 적용안되서 한참 찾음 */
/* * {
  margin: 0;
  padding: 0;
} */

/* html,
body {
  width: 100%;
  min-height: 100%;
} */

/* body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
} */

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
} */
